/* כללי */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    color: #1501ef;
}

/* גוף הדף */
body {
    background-color: #da0303;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* מלא את כל הגובה של הדף */
    margin: 0;
}

/* עיצוב הטופס */
#div_form {
    background-color: rgb(245, 213, 9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px; /* גודל הטופס */
    text-align: center;
}

main{
    text-shadow: 2px 2px 4cqmax rgba(0, 0, 0, 0.3);

}
/* 
